body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('Background Images/787Approach1-2024-12-31.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
}

body.blog-page {
  background-image: url('Background Images/ByStorm_7572.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1.main-title {
  font-family: 'Arial', sans-serif; /* Main page title font */
  color: white; /* Main page title color */
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  margin: 0;
}

h1.blog-title {
  font-family: 'Arial', sans-serif; /* Blog page title font */
  color: #FFD700; /* Blog page title color */
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  margin: 0;
}

h2 {
  margin-top: 10px;
  font-size: 2.0rem;
}

a {
  color: #FFD700;
  text-decoration: none;
  font-size: 1.0rem;
}

a:hover {
  text-decoration: underline;
}

.bottom-content {
  position: absolute;
  top: 75%;
  width: 100%;
  text-align: center;
}

.footer-link {
  color: white; /* Set your desired color */
  font-size: 0.8rem; /* Set your desired font size */
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
