body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('Background Images/787Approach1-2024-12-31.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
}

h1.title {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 3rem;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  margin-top: 15px;
  font-size: 2.0rem;
}

a {
  color: #FFD700;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
}

.bottom-content {
  position: absolute;
  top: 66%;
  width: 100%;
  text-align: center;
}
