body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('Background Images/787Approach1-2024-12-31.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
}

body.blog-page {
  background-image: url('Background Images/ByStorm_7572.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1.main-title {
 font-family: 'Arial', sans-serif; /* Main page title font */
  color: white; /* Main page title color */
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  margin: 0;
}

h1.blog-title {
  font-family: 'Arial', sans-serif; /* Blog page title font */
  color: white; /* Blog page title color */
  font-size: 3rem;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
color: #FFD700;
  font-size: 1rem;
  margin-left: 10px;
}

a {
  color: #FFD700;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

.subtitle {
  color: #FFD700;
  font-size: 1rem;
  margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.5rem;
  color: white;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
